@import "tailwindcss";

:root {
  --color-brand: #a187ac;
  --color-gold: #f0dae1;
  --color-text: #4a3f4e;
  --color-deep: #8d7794;
  --color-bg: #e8e6f0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

input, select, button {
  font-family: inherit;
}
